<!doctype html>
<html>
    <head>
        <title>How Weird is the Weather Local Climate Analyzer</title>
       
        
    </head>
    <body>
    
        <h1>How Weird is the Weather Local Climate Analyzer</h1>
        <!-- this is a general way to call the URL to HTML templates in Flask -->
        <a href="{{ url_for('index') }}">New Search</a>
        <p>This tool allows you to analyze the climate local to your region. 
        After you input your location and a time range you're curious about, 
        it will find the closest weather station and present you with historical
        climate data. <i>Please note this tool is currently limited only to
        temperature records, and does not include precipitation or other
        climate information.</i>  
        </p>
        <h2>Enter Location</h2>
        <h4>Currently works to search USA and Canada only</h4>
            <form action="output" method="post">
                <h4>Enter Latitude and Longitude of Point Being Analyzed</h4>
                <label for="latitude">Enter Latitude (e.g., 45.64 or 37.75)</label>
                <input type="number" step="any" name="latitude" value="" required min="17" max="72">
                
                <label for="longitude">Enter Longitude (e.g. -111.04 or -122.50)</label>
                <input type="number" step="any" name="longitude" value="" required min="-180" max="-65">  
                <br>
        <h2>Select Analysis for your Location</h2>
            <input type="radio" id="priordecade" name="quick_search" required value="priordecade">
            <label for="javascript">Prior 10 Years</label>
            <br>
            <input type="radio" id="prioryear" name="quick_search" required value="yearprior">
            <label for="javascript">Prior Year</label>
            <br>
            <input type="radio" id="ytd" name="quick_search" required value="ytd">
            <label for="html">Year to Date</label>
            <br>
            <input type="radio" id="lastmonth" name="quick_search" required value="lastmonth">
            <label for="css">Prior Month</label>   
            <br>
            
            <input type="submit" value="Submit">
            <p><i>Please allow for up to 30 seconds for the data to load. Some stations have 130 years
            worth of data or more, and sometimes I must search multiple station data files to find
            a complete one.</i></p>
    </form>

    <i>All data and calculations completed using the Global Historical Climatology Network daily (GHCNd) provided by the US National Oceanic and Atmospheric Administration. 
        This dataset is globally applicable for all land areas and usually includes station readings as recent as 3-5 days in the past.
        The analyses herein process this data raw; the only processing is to filter to identify weather stations with relatively complete 
        weather records. All average temperature values are evaluated using the standard practice of taking the midpoint of the maximum and minimum temperature
        for every day in the record.
    </i>
    <i>Webpage by Tobias Schultz, 2022.</i>
    <i>Bugs? Feature requests? Send to alyosha1918 at gmail dot com</i>
    </body>
</html>