<!doctype html>
<html>
    <head>
        <title>How Weird is the Weather Local Climate Analyzer</title>
       
        
    </head>
    <body>
    
        <h1>How Weird is the Weather Local Climate Analyzer</h1>
        <!-- this is a general way to call the URL to HTML templates in Flask -->
        <a href="{{ url_for('index') }}">New Search</a>
        <p>This tool allows you to analyze the climate local to your region. 
        After you input your location and a time range you're cuious about, 
        it will find the closest weather station and present you with historical
        climate data. <i>Please note this tool is currently limited only to
        temperature records, and does not include precipitation or other
        climate information.</i>  
        </p>
        <h2>Enter Location and Reference Period</h2>
            <form action="output" method="post">
                <label for="latitude">Enter Latitude (e.g., 45.64)</label>
                <input type="number" step="any" name="latitude" value="" required>
                <label for="longitude">Enter Longitude (e.g. -111.04)</label>
                <input type="number" step="any" name="longitude" value="" required>        
                <!-- <label for="datebegin">Beginning of Reference Period:</label>
                <input type="date" id="datebegin" name="datebegin" required>
                <label for="dateend">End of Reference Period:</label>
                <input type="date" id="dateend" name="dateend" required>-->
            <input type="submit" value="Submit">
            <p><i>Please allow for some time for the data to load. Some stations have 130 years
            worth of data or more, and sometimes I must search multiple station data files to find
            a complete one.</i></p>
    </form>

    
    </body>
</html>