<!doctype html>
<html>
    <head>
        <title>How Weird is the Weather Local Climate Analyzer - Result</title>
    </head>
    <body>
    <!-- insert links to: Methodology Details, and About -->
        <h1>How Weird is the Weather Local Climate Analyzer - Data Result</h1>
        <p>This tool allows you to analyze the climate local to your region. 
        After you input your location and a time range you're cuious about, 
        it will find the closest weather station and present you with historical
        climate data. <i>Please note this tool is currently limited only to
        temperature records, and does not include precipitation or other
        climate information.</i>  
        </p>
    <h1>Here Is Your Latitude!</h1>
    <!--<h3>{{ result }} degrees</h3> -->
    <h3>{{ lat }} degrees</h3>
    <h1>Here Is Your Longitude!</h1>
    <h3>{{ long }} degrees</h3>
    
    </body>
    </html>