<!doctype html>
<html>
    <head>
        <title>How Weird is the Weather Local Climate Analyzer - Result</title>
        
    </head>
    <body>
    <!-- insert links to: Methodology Details, and About -->
        <h1>How Weird is the Weather Local Climate Analyzer - Data Result</h1>
        <a href="{{ url_for('index') }}">New Search</a>
        <p>This tool allows you to analyze the climate local to your region. 
        After you input your location and a time range you're cuious about, 
        it will find the closest weather station and present you with historical
        climate data. <i>Please note this tool is currently limited only to
        temperature records, and does not include precipitation or other
        climate information.</i>  
        </p>
    <h2>Reference Location and Time</h2>
    <p>You selected an analysis for {{ lat }} latitude, {{ long }} longitude,
    in the period between {{ bdate }} and {{ edate }}</P>
    <h3>Nearest Station Information</h3>
    <ul>
    {% for st_data in st_info %}
            <li>{{ st_data }}</li>
        {% endfor %}
        </ul>
        <!-- this is the format for accessing a single list element {{ st_info.0 }} </p> -->
    
    
    
    
    <h2>Your Local Climate</h2>
    <!--show figure of TMID for historcal record -->
    <h3>Temperature Analysis comparing Reference period ( {{ bdate }} to {{ edate }} ) and baseline period {{ basedesc }} </h3>
    <h4>Result: {{ bdate }} to {{ edate }} was <i>{{ refdelta }} degrees F warmer</i> than {{ basedesc }}. </h4>
    <h4>The odds that this would occur purely by chance are {{ pvalue }}, which 
    {% if refsig == True %}
    <i>is statistically significant</i>
    {% endif %}
    {% if refsig == False %}
    <i>is not</i> statistically significant 
    {% endif %}
    ( alpha = {{ alphavalue }}.)
     </h4>
    
    <p>During {{ basedesc }}, local temperatures averaged {{ abs_temp.1 }} Farenheit, and during {{ bdate }} to {{ edate }},
    they averaged {{ abs_temp.0 }} Farenheit, {{ refdelta }} degrees warmer. But if
    you have ever been outside, you probably noticed that temperature varies widely. Considering this natural variability, 
    the odds that this amount of warming would occur by chance are {{ pvalue }}. </p>
    <h3>Has it Been Getting Warmer over the past {{ trendyears }} years?</h3>
    {% if real_trend == True %}
    <h4>Yes, by {{ trendF }}</h4>
    {% endif %}
    {% if real_trend == False %}
    <h4>No, there is no statistically significant trend in the climate</h4>
    {% endif %}
    
    <p>Over the past {{ trendyears }} years, the local climate has been warming by {{ trendF }}. But each year's'
     temperature has varied widely. Factoring in variability, the odds of this occuring by chance are {{ trend_p }}, 
      {% if real_trend == True %}
      which <strong>is statistically significant</strong>
      {% endif %}
      {% if real_trend == False %}
       which <strong>is not</strong> statistically significant
      {% endif %}
      ( alpha = {{ alphavalue }}.)</p>
     
     
    <h3>Nearest Station Information</h3>
    <ul>
    {% for gen_data in gen_info %}
            <li>{{ gen_data }}</li>
        {% endfor %}
        </ul>
    <!-- INsert a table contaning station location, distance from submitted point
    covered dates, and then summary temperature information, including ALPHA value -->
    <h3>Monthly Average</h3>
    <!--show figure of TMID averaged for each month over historical record -->
    <h3>Daily Temperature Histogram Average</h3>
    <!--show figure of TMID averaged for each month over historical record -->
    
    </body>
    </html>